@import url("mediaQueries.css");
*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.items_display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border: 2px solid black;
  height: 100vh;
  overflow: auto;
}

.item_colletions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
margin: 5px;

}
.image{
    height: 10rem;
    width: 12rem;
}





