@import url("./app.css");
@import url("./layout.css");
@import url("mediaQueries.css");

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    text-decoration: none;

}

header{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    /* margin-top: 4rem; */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7rem;
      font-weight: bold;
      border: 2px solid whitesmoke;
      border-radius: 10px;
      background-color: #576574;
    padding: 14px;
      color: white;
      font-size: 1.2rem;
    
      font-family: cursive;
      letter-spacing: 5px;
    }

/* .logo{
    font-weight: bold;
    color: aliceblue;
    border-radius: 5px;
    background-color: #2980b9;
    text-align: center;
    font-size: 2rem;
    width: 96%;
} */
.content{
    width: 70%;
    /* border: 2px solid #2980b9; */
    border-radius: 5px;
}
input{
    width: 95%;
    border: none;
    border-bottom: 2px solid #2980b9;
    padding: 5px;
    margin: 1rem;
}
#err{
    color: red;
}
.submit{
    margin: 1rem;
    text-decoration: none;
    background-color:#2980b9;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    height: 2rem;
    width: 95%;
    border: none;
}
.submit:hover{
    background-color:aliceblue;
  color: #2980b9;
}
.submit:active{
    background-color:aliceblue;
    color: #2980b9;
}
.button{
    display: flex;
      justify-content: center;
      align-items: center;
    margin: 1rem;
    /* text-decoration: none; */
    background-color:#2980b9;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    height: 2rem;
    width: 96%;
}
/* .button a{
    color: #2980b9;
} */
.button:hover{
    background-color:aliceblue;
  color: #2980b9;
}
.button:active{
    background-color: #2980b9;
    color: aliceblue;
}
.note{
    text-align: center;
}