@import url("./app.css");
@import url("./layout.css");
@import url("mediaQueries.css");

.page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
a{
    text-decoration: none;

}
header{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    /* margin-top: 4rem; */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7rem;
      font-weight: bold;
      border: 2px solid whitesmoke;
      border-radius: 10px;
      background-color: #576574;
    padding: 14px;
      color: white;
      font-size: 1.2rem;
    
      font-family: cursive;
      letter-spacing: 5px;
    }
    a .logo{
color: aliceblue;    
    }
/* .logo{
    font-weight: bold;
    color: aliceblue;
    border-radius: 5px;
    background-color: #2980b9;
    text-align: center;
    font-size: 2rem;
    width: 90%;
} */
.content{
    margin: 5px;
}
.content .para1{
    margin: 1rem;
    color: #2980b9;
    font-size: 1rem;
    font-weight: bold;
}
.section2{
    margin: 1rem;
    color:  #576574;
    font-size: 1rem;
    font-weight: bold;
    /* border: 2px solid red; */

}
input{
    width: 84%;
    border: none;
    border-bottom: 2px solid #2980b9;
    padding: 5px;
    margin: 5px;
}

li{
    list-style: none;
}
#err{
    color: red;
}
button{
    margin: 1rem;
    text-decoration: none;
    background-color:#2980b9;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    height: 2rem;
    width: 89%;
    border: none;
}
button:hover{
    background-color:aliceblue;
    color: #2980b9;
}
button:active{
    background-color: #2980b9;
    color: aliceblue;

}
