/*applies to the whole page*/
*{
    box-sizing: border-box;
}

/*style for h1*/
h1{
    text-align: center;
    color:rgb(202, 16, 16) ;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:wheat;


/*float coulumns side by side*/
}
.items_display{
    padding:0 15px 0 15px;
    width:30%;
    /*Remove extra left and right margins, due to padding of columns*/
    margin: 0 -5px ;
    align-items:baseline;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 10px 10px;
    justify-content: space-between;
}

/*clear floats after the columns*/
.items_displayrow:after{
    content:"";
    display:table;
    clear:both;
}

/*style the counter cards*/
.product_details{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding:16px;
    text-align:center;
    background-color:#f1f1f1;
}
/*horizontal layout of the cards*/
#product1{
    grid-column: 1;
    grid-row: 1;
   
}
#product2{
    grid-column:2;
    grid-row:1;
  
}
#product3{
    grid-column:3;
    grid-row:1;

  
}
#product4{
    grid-column: 1;
    grid-row:2;
}
#product5{
    grid-column:2;
    grid-row: 2;
}
#product6{
     grid-column: 3;
     grid-row:2;
    }

/*style the add to cart button*/
.button{
    background-color:rgb(202, 16, 16);
    border-radius: 5px;
    font-size: 18px;
    padding:12px;
    cursor:pointer;
    text-align: center;
    width: 100%;
    box-shadow: 0px 8px 16px 0px grey;  
}

/* Add rounded corners to the corners of the images */
.image {
    border-radius: 5px 5px 5px 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }